<!--Bozeman, Todd Code-->
@{
    ViewBag.Title = "Bozeman, Todd Code Sample";
}

<h1>Typing Challenge</h1>
<div class="container">

    <div class="row">
        <!--Display Text Panel1-->
        <div class="col-md-1 jumbotron" id="Panel1">Catch me if you can, I am the Ginger Bread Man.</div>

        <!--Stats Panel3-->
        <div class="col-md-1 jumbotron" id="Panel3">
            <p style="text-align:center" id="Timer">Start typing sample text to begin test</p>
            <p style="text-align:center" id="WordsTyped"></p>
            <p style="text-align:center" id="WPM"></p>
            <p style="text-align:center" id="Error"></p>
            <div  id="Debug"></div>
        </div>
    </div>

    <div class="row">
        <!--Input Panel2 and Textarea/Display-->
        <div id="Display">
       
        </div>
     </div>
</div>
<button onclick ="resetTest()" >Reset</button>















